<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-repeat="a in accounts">
      <div class="item item-divider">{{a.name}}</div>
      <div class="item item-body">
        <div>
          {{a.billingstreet}} <br/>{{a.billingcity}},&nbsp;{{a.billingstate}} {{a.billingpostalcode}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>